@media (max-width: 1536px) {
    html {
        font-size: 60%; /* 10 px when default */
    }

}

@media (max-width: 1336px) {
    html {
        font-size: 56%; /* 10 px when default */
    }
    
    .blocks__list {
        height: 44vh;
    }
}

@media (max-width: 1280px) {
    html {
        font-size: 54.8%; /* 10 px when default */
    }
    .blocks__list {
        height: 46vh;
    }

}

@media (max-width: 1024px) {
    html {
        font-size: 50%; /* 10 px when default */
    }
    .blocks__list {
        height: 49vh;
    }
}

@media (max-width: 950px) {
    html {
        font-size: 46%; /* 10 px when default */
    }
}

@media (max-width: 900px) {
    html {
        font-size: 43%; /* 10 px when default */
    }
}

@media (max-width: 850px) {
    html {
        font-size: 40%; /* 10 px when default */
    }
}

/* CHANGING TO VERTICAL */ 

@media (max-width: 768px) {
    html {
        font-size: 30%; /* 10 px when default */
    }
    
    .blocks__list {
        width: 80rem;
        height: 90rem;
        transform: rotate(90deg);
        align-items: center;
    }
        
    .column {
        display: block;
        width: 55.5rem;
        padding:  1.5rem 2rem 2rem 2rem;
        flex: 0 0 auto;
    }

    .controls__settings-content {
        display: block;
        text-align: center;
    }
}
