*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // This defines what 1rem is (currently 10px)
    font-size: 62.5%;
    
    @include respond(tab-land) {
        font-size: 58%;
    }
    @include respond(tab-port) {
        font-size: 56%;
    }


   
}

body {
    background-color: $color-primary;
}