.u-centered-text {
    text-align: center;
}

.u-left-text {
    text-align: left;
}

.u-margin-bottom-tiny {
    margin-bottom: 0.5rem;
}

.u-margin-bottom-small {
    margin-bottom: 0.8rem;
}

.u-margin-bottom-medium {
    margin-bottom: 3rem;
}

.u-margin-bottom-big {
    margin-bottom: 5rem;
}

.u-justified-text {
    text-align: justify;
}

.u-hide {
    opacity: 0;
    transition: opacity 0.4s;
}

.u-padding-left-small {
    padding-left: 5rem;
}