.u-centered-text {
    text-align: center;
}

.u-left-text {
    text-align: left;
}

.u-margin-bottom-tiny {
    margin-bottom: 0.5rem;
}

.u-margin-bottom-small {
    margin-bottom: 0.8rem;
}

.u-margin-bottom-small-2 {
    margin-bottom: 1.6rem;
}

.u-margin-bottom-medium {
    margin-bottom: 3rem;
}

.u-margin-bottom-big {
    margin-bottom: 5rem;
}

.u-justified-text {
    text-align: justify;
}

.u-hide {
    opacity: 0;
    transition: opacity 0.4s;
}

.u-padding-left-small {
    padding-left: 5rem;
}

.u-two-row-elements {
    display: flex;
    justify-content: space-around;
    @include respond(tab-port) {
        flex-direction: column;
    }
}

.u-disable-transition {
    transition: none !important;
}

.u-highlighted-text {
    opacity: 1 !important;
    transform: translateX(-50%) translateY(-3px) scale(1.12) !important;
}

.u-page-link {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: $color-primary-dark;
    }
}
