// COLORS
$color-primary: #2B90FE;
$color-primary-light: #2B90FE;
$color-primary-dark: #141414;

$color-secondary: #65939c;

$color-gray-dark: #333;
$color-white: rgb(255, 255, 255);
$color-black: #000;
$color-gray-light: rgb(244, 244, 244);
$color-gray-medium: rgb(211, 211, 211);
$color-gray: #555;

// GRID
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 6rem;
$gutter-section-start: 5rem;
$gutter-section-end: 11rem;



// Animations
$animations-delay: 0.2;

