.header {
    background-color: $color-primary-dark;
}

.section {
    &-blocks {
        width: 100%;
        background-color: $color-white;
        overflow: hidden;

        &__list {
            max-width: 110rem;
            height: 42rem;
            margin: 0 auto;
            padding: 2rem 0 0 0;
            list-style: none;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            @include respond(small-deskt) {
                height: 35rem;
            }
        }

        &__list li {
            flex: 0 0 auto;
            display: inline-block;
            padding: 0;
            background-color: transparent;
            margin: 1rem 0.8rem 0 0.8rem;
            width: 3rem;
            height: 5rem;
            vertical-align: bottom;
            transition: background-color 0.2s, transform 0.5s;

            font-size: 1.8rem;
            text-align: center;
            transform: translate(0px, 0rem);
        }
    }

    &-controls {
        width: 100%;
        background-color: $color-primary-dark;
        padding-bottom: 2rem;

        &__sorting-buttons {
            flex: 1 1 0;
            display: flex;
            text-align: center;
            justify-content: center;
            margin-bottom: 1rem;
        }

        &__performance-info {
            font-size: 1.6rem;
            text-align: center;
            display: flex;
            justify-content: center;
            width: 60%;
            margin: 0 auto;
        }

        &__performance-block {
            width: 45%;
            text-align: right;
            height: 3rem;

            &:nth-child(2) {
                width: 8%;
                text-align: center;
            }

            &:nth-child(3) {
                width: 45%;
                text-align: left;
            }

            sup {
                font-size: 1.1rem;
            }
            sub {
                font-size: 1rem;
            }
        }

        &__settings {
            margin-top: 3rem;
            position: relative;
        }

        &__divider {
            position: absolute;
            height: 70%;
            width: 2px;
            background-color: $color-gray;
            opacity: 0.25;
            right: 50%;
            top: 50%;
            transform: translateY(-55%);

            @include respond(tab-port) {
                display: none;
            }
        }

        &__col-title {
            text-align: center;
            width: 100%;
            position: relative;

            &:before,
            &:after {
                content: '';
                display: block;
                height: 2px;
                background-color: $color-gray;
                width: 34%;
                opacity: 0.3;
                position: absolute;
                top: 40%;
                transform: translateY(-50%);

                @include respond(tab-port) {
                    width: 38%;
                    opacity: 0.5;
                }

                @include respond(phone) {
                    width: 30%;
                }
                @include respond(small-phone) {
                    width: 25%;
                }
            }

            &:before {
                left: 0;
            }

            &:after {
                right: 0;
            }
        }

    }
}

.divider {
    background-color: $color-primary;
    width: 100%;
    height: 1rem;
    margin: 0;
    padding: 0;
}

.footer {
    display: block;
    width: 100%;
    background-color: $color-primary;
    margin: 0;
    padding: 0.8rem;
    text-align: center;

    &__author {
        display: inline-block;
        font-size: 1.6rem;
    }
}
