/*
    WEB COLORS:
        DARK BLUE: #2c3e50;
        LIGHT: #3a536b;

*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0; 
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* 10 px when default */
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: white;
    background-color: #2c3e50;
    box-sizing: border-box;
}



/* ================================ */
/* ==========  REUSABLE  ========== */
/* ================================ */ 

.divider {
    background-color: #2c3e50;
    width: 100%;
    height: 1rem;
    margin: 0;
    padding: 0;
}

.row {
    width: 117rem;
    display: flex;
    margin: 0 auto;
    padding: 2rem 3rem 0 3rem;
    background-color: transparent;
    color: white;
    border-right: 2px solid white; 
    border-left: 2px solid white;
    overflow: hidden;
}

.column {
    width: 55.5rem;
    padding:  1.5rem 2rem 2rem 2rem;
    flex: 0 0 auto;
}

/* =========================> Buttons */
.btn {
    display: inline-block;
    margin: 0;
    padding: 1rem 0;
    width: 12rem;
    height: 4rem;
    background-color: #2B90FE;
    border-radius: 2rem;
    color: white;
    font-size: 1.42rem;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background-color:rgb(43, 75, 254);
    /* transform: translateY(-0.2rem) */
}

.btn:active {
    background-color: rgb(35, 59, 194);
    transition: all 0.1s;
    transform: translateY(0.1rem)
}

.btn--active {
    background-color: #FF43D1;
}

.btn--active:hover {
    background-color: rgb(223, 56, 181);
}

.btn--active:active {
    background-color: rgb(187, 46, 152);
}

.btn--control {
    width: 23.5rem;
    height: 3rem;
    margin-top: .8rem;
    margin-bottom: 1.5rem;
    padding: 0.7rem 1rem;
    font-size: 1.4rem;
    border-radius: .5rem;
    transition: all 0.15s;
}

/* =========================> Inputs */
/* ================> Slider */
.slider {
    margin-bottom: 1.5rem;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
}

.slider__label {
    font-size: 1.6rem;
    padding-top: 0.1rem;
}

.slider__slide-input {
    appearance: none;
    width: 63%;
    height: 2.5rem;
    border-radius: .5rem;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.75;
    transition: opacity 0.2s;
    cursor: pointer;
  }

.slider__slide-input:hover {
    opacity: 1;
}

.slider__text-input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    margin-left: .5rem;
    width: 3.2rem;
    height: 2.7rem;
    font-size: 1.6rem;
}

/* ===================> Inputs */
.inputs input {
    height: 4rem;
    width: 10rem;
    border: 2px solid rgb(94, 63, 100);
    margin: 1.5rem;
    padding: 1rem;
    font-size: 1.5rem;
}

h2 {
    /* border-bottom: 1px solid white; */
    padding-left: 2rem;
}


/* ================================ */
/* =========  NAVIGATION  ========= */
/* ================================ */ 

.navigation {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 7rem;
    background-color: #2c3e50;
    
}

.navigation__items {
    width: 80rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation__logo {
    padding: .8rem;
    text-align: left;
    font-size: 3.5rem;
    color: white;
    font-family: 'Dancing Script', cursive;
}

/* ================================ */
/* ======= BLOCKS CONTAINER ======= */
/* ================================ */

.blocks {
    width: 100%;
    background-color: white;
    overflow: hidden;
    
}

.blocks__list {
    width: 110rem;
    height: 45vh;
    margin: 5% auto 0 auto;
    padding: 2rem 0 0 0;
    list-style: none;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.blocks__list li {
    flex: 0 0 auto;
    display: inline-block;
    padding: 0;
    background-color: transparent;
    margin: 1rem .8rem 0 .8rem;
    width: 3rem;
    height: 5rem;
    vertical-align: bottom;
    transform: none;
    transition: background-color 0.2s, transform 0.5s;
}

/* ================================ */
/* ====== SETTINGS CONTAINER ====== */
/* ================================ */ 

.controls {
    width: 100%;
 
    background-color: #3a536b;
    
}

/* ==============> PLAYER */

.controls__player {
    flex: 1 1 0;
    display: block;
    text-align: center;
}

.controls__icon {
    font-size: 3.3rem;
    margin: .72rem;
    cursor: pointer;
    color: white;
    transition: color 0.15s;
}

.controls__icon:hover,
.controls__icon:active {
    color: #2B90FE;
}

/* ==============> SORTING BUTTONS */

.controls__sorting-buttons {
    flex: 1 1 0;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 1.5rem;
}

.controls__sorting-btn {
    width: 15rem;
    border-radius: 0;
    border-left: 1px solid black;
}

.controls__sorting-btn:first-child {
    border-left: 0;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.controls__sorting-btn:last-child {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

/* ==============> ADV SETTINGS */
.controls__settings {
    display: block;
}

.controls__settings-title {
    flex: 0 0 auto;
    font-size: 1.6rem;
    width: 55.5rem;
    display: flex;
    justify-content: left;
}

.controls__settings-content {
    display: flex;
}

.column--settings:last-child {
    border-left: 1px solid white;
}

.controls__control-btns {
    display: flex;
    vertical-align: middle;
    justify-content: space-around;
}


.checkbox-container {
    margin-bottom: 1.5rem;
    display: flex;
    vertical-align: bottom;
    justify-content: start;
}

.checkbox-container input {
    padding: .5rem;
    margin-left: 4rem;
    margin-top: .7rem;
    cursor: pointer;
}

/* ================================ */
/* ==========  FOOTER  ============ */
/* ================================ */ 

.footer {
    display: block;
    width: 100%;
    background-color: #2c3e50;
    margin: 0;
    padding: 1rem;
}

.footer__author {
    position: absolute;
    left: 50%;
    font-size: 1.6rem;
    transform: translateX(30rem);
    padding-bottom: 0.5rem;
}