.btn {
    display: inline-block;
    margin: 0;
    padding: 1rem 0;
    width: 12rem;
    height: 4rem;
    background-color: #2B90FE;
    border-radius: 2rem;
    color: $color-white;
    font-size: 1.5rem;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
    backface-visibility: hidden;
    

    &:hover {
        background-color:rgb(43, 75, 254);
    }
        /* transform: translateY(-0.2rem) */

    &:active {
        outline: none;
        background-color: rgb(35, 59, 194);
        transition: all 0.1s;
        transform: translateY(0.1rem)
    }

    &:focus {
        outline: none;
    }

    &--full {
        width: 15rem;
        border-radius: 0;
        //border-left: 1px solid $color-black;
    }

    &--inline {
        &:hover {
            //transform: scale(1.08);
            z-index: 100;
        }

        &:active {
            outline: none;
        }

        @include respond (tab-port) {
            height: 7rem;
            padding: 0 1rem;
        }
        @include respond (small-phone) {
            width: 5rem;
        }

        &:first-child {
            border-left: 0;
            border-top-left-radius: 2rem;
            border-bottom-left-radius: 2rem;

            &:active {
                outline: none;
            }
        }
        
        &:last-child {
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
        }

        &:focus {
            outline: none;
        }
    }

    
    &--active {
        background-color: #FF43D1;
        &:hover {
            background-color: rgb(223, 56, 181);
        }
        &:active {
            background-color: rgb(187, 46, 152);
        }
        &:focus {
            outline: none;
        }
    }

    &--control {
        width: 23.5rem;
        height: 3rem;
        margin-top: .8rem;
        margin-bottom: 1.5rem;
        padding: 0.7rem 1rem;
        font-size: 1.4rem;
        border-radius: .5rem;
        transition: all 0.15s;

        @include respond(tab-port) {
            display: block;
            width: 100%;
            float: none;
        }
    }
}


