.btn {
    display: inline-block;
    margin: 0;
    padding: 1.2rem 0;
    width: 12rem;
    background-color: $color-primary;
    // background-color: transparent;
    // background-image: $background-grad-2;

    border-radius: 2rem;
    color: $color-white;
    font-size: 1.5rem;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
    backface-visibility: hidden;

    &:hover {
        background-color: $color-primary-medium-1;
    }
    /* transform: translateY(-0.2rem) */

    &:active {
        outline: none;
        background-color: $color-primary-medium-2;
        transition: all 0.1s;
        transform: translateY(0.1rem);
    }

    &:focus {
        outline: none;
    }

    &--full {
        width: 19rem;
        border-radius: 0;
        //border-left: 1px solid $color-black;
    }

    &--inline {
        &:hover {
            //transform: scale(1.08);
            z-index: 100;
        }

        &:active {
            outline: none;
        }

        @include respond(tab-port) {
            height: 7rem;
            padding: 0 1rem;
        }
        @include respond(small-phone) {
            width: 5rem;
        }

        &:first-child {
            border-left: 0;
            border-top-left-radius: 2rem;
            border-bottom-left-radius: 2rem;

            &:active {
                outline: none;
            }
        }

        &:last-child {
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
        }

        &:focus {
            outline: none;
        }
    }

    &--active {
        background-color: $color-secondary;

        &:hover {
            background-color: $color-secondary-medium-1;
        }
        &:active {
            background-color: $color-secondary-medium-2;
        }
        &:focus {
            outline: none;
        }
    }

    &--control {
        width: 45%;
        height: 3rem;
        margin-top: 0.8rem;
        margin-bottom: 1.5rem;
        padding: 0.7rem 1rem;
        font-size: 1.4rem;
        border-radius: 0.5rem;
        transition: all 0.15s;

        @include respond(tab-port) {
            display: block;
            width: 100%;
            float: none;
        }
    }
}
