.slider {
    margin-bottom: 1.5rem;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    position: relative;

    &__label {
        font-size: 1.6rem;
        padding-top: 0.1rem;
        width: 14.5rem;
    }

    &__slide-input {
        width: 60%;
        opacity: 0.75;
        transition: opacity 0.2s;
        cursor: pointer;
        
        display: block;
        -webkit-appearance: none;
        background-color: #bdc3c7;
        //background-color: $color-primary;
        height: 0.4rem;
        margin-top: 1.1rem;
        border-radius: 5px;
        outline: none;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            background-color: $color-white;
            width: 1.9rem;
            height: 1.9rem;
            border-radius: 50%;
            border: 2px solid $color-white;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            position: relative;

            &:hover {
                border: 2px solid rgba($color-primary, 0.3);
            }

            &:active {
                transform: scale(1.2);
            }
        }
    }

    &__slide-input:hover {
        opacity: 1;
    }

    &__text-input {
        background-color: transparent;
        border: none;
        outline: none;
        color: $color-white;
        width: 3.2rem;
        height: 2.7rem;
        font-size: 1.6rem;
        transform: translateX(-40%);
        text-align: center;
    }

    &__values {
        position: absolute;
        top: 0;
        left: 33%;
        width: 82%;
    }

    &__values-list {
        list-style: none;
        position: relative;

    }

    &__value {
        font-size: 1.1rem;
        color: $color-white;
        opacity: 0.8;
        position: absolute;
        transform: translateX(-50%);
        transition: all 0.2s;

        &:nth-child(1) {
            left: 0;
        }
        &:nth-child(2) {
            left: 20%;
        }
        &:nth-child(3) {
            left: 40%;
        }
        &:nth-child(4) {
            left: 60%;
        }
        &:nth-child(5) {
            left: 80%;
        }
    }

    &--high {
        padding-top: 1.3rem;
        margin-top: 0.5rem;
    }

    &--high &__slide-input { 
        width: 68%;
    }

    &--high &__text-input {
        font-size: 1.2rem;
    }
}

.inputs input {
    height: 4rem;
    width: 10rem;
    border: 2px solid rgb(94, 63, 100);
    margin: 1.5rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.checkbox {
    margin-bottom: 1.5rem;
    display: flex;
    vertical-align: bottom;
    justify-content: flex-start;
    
    &__label-text {
        font-size: 1.6rem;
        padding-top: 0.1rem;
        width: 14.5rem;
    }

    &__toggle {
        position: relative;
        display: block;
        width: 3.6rem;
        height: 2rem;
        cursor: pointer;
        margin-top: 0.5rem;

        &:before {
            content: "";
            position: relative;
            top: 0.3rem;
            left: 0.3rem;
            width: 3.6rem;
            height: 1rem;
            display: block;
            background-color: $color-gray;
            border-radius: 8px;
            transition: background-color 0.2s ease;
        }

        span {
            position: absolute;
            top: 0;
            left: 0;
            width: 1.7rem;
            height: 1.7rem;
            display: block;
            background-color: white;
            border-radius: 50%;
            box-shadow: 0 3px 8px rgba($color-gray, 0.5);
            transition: all 0.2s ease;

            &:before {
                content: "";
                position: absolute;
                display: block;
                margin: -1.8rem;
                width: 5.6rem;
                height: 5.6rem;
                background-color: rgba($color-white, 0.3);
                border-radius: 50%;
                transform: scale(0);
                opacity: 1;
                pointer-events: none;
            }
        }
    }

    &__input:checked + &__toggle {

        &:before {
            background: $color-primary;
        }

        span {
            background-color: $color-white;
            transform: translateX(2.3rem);
            transition: all 0.2s, background-color 0.15s ease;
            box-shadow: 0 3px 8px rgba($color-white, 0.3);

            &:before {
                transform: scale(1);
                opacity: 0;
                transition: all 0.4s ease;
            }
        }
    }

    &__input {
        display: none;
    }
}

.radio-checkbox {
    display: block;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;

    &__input {
        display: none;
    }

    &__radios {
        display: inline-block;
        position: relative;
        text-align: center;
    }

    &__title {
        display: inline-block;
        width: 14.5rem;
    }

    &__radio {
        cursor: pointer;
        font-size: 1.6rem;
        display: inline-block;
        margin-right: 2rem;
    }
  
    &__label-text {
        position: relative;
        display: inline-block;
        margin-right: 0.8rem;
        margin-bottom: -0.45rem;
        width: 2rem;
        height: 2rem;
        border: 2px solid $color-gray;
        border-radius: 100%;

        &:after {
            content: '';
            position: absolute;
            top: 0.3rem;
            left: 0.3rem;
            width: 1rem;
            height: 1rem;
            border-radius: 100%;
            background-color: $color-primary;
            transform: scale(0);
            transition: all 0.2s ease;
            opacity: 0.1;
            pointer-events: none;
        }
    }

    &__radio:hover &__label-text:after {
        transform: scale(3.6);
    }
    
    &__input:checked + &__label-text {
        border-color: $color-primary;
        &:after {
            transform: scale(1);
            transition: all 0.2s cubic-bezier(.35,.9,.4,.9);
            opacity: 1;
        }
    }
 
  
}