.loader-box {
    width: 8rem;
    height: 8rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    display: inline-block;
    position: relative;
    width: 8rem;
    height: 8rem;
    
    div {
        display: inline-block;
        position: absolute;
        left: 0.8rem;
        width: 1.6rem;
        background: $color-primary;
        animation: loader-ani 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;

        &:nth-child(1) {
            left: 0.8rem;
            animation-delay: -0.24s;
        }

        &:nth-child(2) {
            left: 3.2rem;
            animation-delay: -0.12s;
        }

        &:nth-child(3) {
            left: 5.6rem;
            animation-delay: 0;
        }
    }
}

@keyframes loader-ani {
  0% {
    top: 0.8rem;
    height: 6.4rem;
  }
  50%, 100% {
    top: 2.4rem;
    height: 3.2rem;
  }
}